.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    position: relative;
    padding: 5px;
    border: 1px solid pink;
    border-radius: 30px;
    filter: drop-shadow(0 0 0.75rem rgb(197, 142, 142));
    background: linear-gradient(35deg, rgba(153, 150, 150, 0.179), #c6adad16);

    .logo {
      margin: 5px;
      background-size: cover;
      border-radius: 10px;
    }

    .title {
      color: #ffff;
      position: relative;
      top: 15px;
      background: fixed;
      margin-left: 40px;
    }

    .navContainer {
      background: fixed;
      display: flex;
      justify-content: flex-end;
      margin-left: 50%;

      .nav {
        background: fixed;
        display: flex;
        margin: 10px;
        flex-wrap: wrap;


        .button {
          width: fit-content;
          height: fit-content;
          padding: 10px;
          margin: 10px;
          position: relative;
          background: linear-gradient(45deg, #2da593, rgba(84, 6, 210, 0.449), rgb(75, 75, 165), #2da593);
          border: transparent;
          border-radius: 10px 20px 25px;
          color: #ffff;
          animation: all 3.5s ease;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}