.container {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
    justify-content: center;
    color: #ffffff;
  }

  .content {
    border: 1px solid #ffffff;
    position: relative;
    top: 2rem;
    padding: 10rem;
  }
}